body {
    background-color: $main-background;
}

::-webkit-scrollbar { 
    display: none; 
    }

.fullBrowse {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 75vh;
    font-family: $font;
    z-index: 1;

    h1 {
        font-size: 25px;
        font-weight: bold;
        margin-left: 50px;
    }

    img {
        width: 250px;
        height: 140px;
        margin-right: 5px;
    }

    p {
        width: 240px;
        height: 27px;
        font-size: 21px;
        overflow: hidden;
        text-overflow: ellipsis;
        transform: translateY(-28px);
        margin-left: 5px;
        color: white;
        text-shadow: 5px 5px 5px black, 0 0 10px black, 0 0 5px black;
        font-weight: bolder;
    }
}

.listRow {
    position: static;
    margin: 2vh 0;
    margin-left: 50px;
    overflow-x: auto;
    overflow-y: auto;
    white-space: nowrap;
    display: flex;

        i {
            color: white;
            transform: translateY(-165px);
            text-shadow: 2px 2px 5px black, 0 0 2px black, 0 0 2px black;
        }
}

.listRow > a {
    display: inline-block;
}

.movie--image {
    height: 145px;
}

.popular2ListRow {
    display: flex;
    margin-left: 50px;
    margin-top: 15px;
    overflow: auto;
    white-space: nowrap;
    height: 400px;

    img {
        width: 250px;
        height: 375px;
        margin-right: 5px;
    }
}

.movie-details {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 500px;
    background: black;
    font-family: $font;
    overflow: visible;
    margin-bottom: 20px;
}

.details-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40vw;
    margin: 50px;

    h2 {
        color: white;
        font-size: 40px;
        overflow: visible;
    }
}

.overview {
    width: 50vh;

    strong {
        font-size: 15px;
        width: 100%;
        margin-left: 0;
        color: #999999;
    }
}

.top {
    display: flex;
    flex-direction: column;

    sub {
        font-size: 12px;
        width: 50px;
        margin-left: 0;
        color: #999999;
    }

    .time {
        display: flex;
        margin-top: 7px;
    }
}

.buttons {
    display: flex;
    margin-top: 10px;

    #play {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 12vw;
        height: 8vh;
        background: #DB1928;
        border: none;
        outline: none;
    }

    #list {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 14vw;
        height: 8vh;
        background: none;
        border: solid white 2px;
        margin-left: 10px;
        outline: none;
    }

    h4 {
        display: flex;
        justify-content: center;
        color: white;
        font-size: 1.2vw;
        font-weight: bold;
        margin-left: .8vw;
    }

    i {
        font-size: 1.5vw;
        color: white;
    }
}

.cast {
    display: flex;
    flex-direction: column;

    em{
        margin-left: 0;
        font-size: 1.2vw;
        font-weight: inherit;
        color: #999999;
        margin-top: 10px;
    }

    b {
        font-size: 1.5vw;
        font-weight: bold;
        color: #999999;
    }

    span {
        color: white;
    }
}

.bottom {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    width: 100%;

    sub {
        color: white;
        font-size: 20px;
        margin-right: 50px;
    }
}

.drop-image {
    width: 60vw;
    height: 100%;
    background-size: cover;
    right: 0;
    position: sticky;

        i {
            position: absolute;
            z-index: 5;
            color: white;
            font-size: 30px;
            right: 10px;
            margin-top: 6px;
            -webkit-text-stroke: 1px black;
        }
}
