.homeHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-family: $font;

    img {
        width: 200px;
        height: 75px;
    }

    button {
        width: 100px;
        height: 40px;
        transform: translateY(-5px);
        background: #DC1928;
        border: none;
        border-radius: 4px;
        color: white;
        font-size: 18px;
    }
}

.homeText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25vh;
    font-family: "Helvetica Neue";
    color: white;

    h1 {
        font-size: 8vw;
        line-height: 15vh;
    }

    h2 {
        font-size: 3.65vw;
        letter-spacing: -1;
    }
}

.register {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2.5vh;
    font-family: $font;

    button {
        width: 45vw;
        height: 10vh;
        background: #DC1928;
        border: none;
        border-radius: 4px;
        color: white;
        font-size: 3vw;
    }

    i {
        font-size: 2.0vw;
        margin-left: .5vw;
        transform: translateY(-3px);
    }
}



