.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    background: none;
    padding: 20px 50px 20px 50px;
    font-family: $font;
    z-index: 2;

    .search-icon {
        display: flex;
    
        &.unactive {
            display: none;
        }
      }
}

.headerLeftSection {
    display: flex;
    align-items: center;
    width: 50%;

    img {
        width: 100px;
        height: 35px;
        transform: translateY(2px);
    }

    button {
        display: flex;
        background: none;
        border: none;
        color: white;
        font-size: 1.2vw;
        letter-spacing: 1px;
        margin-left: 25px;
        outline: none;
    }

    .pageLinks {
        display: flex;
        margin-left: 20px;
    }
}

.headerRightSection {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    width: 50%;
    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
    border: 1.5px solid #0D7E80;
    -webkit-text-fill-color: white;
    -webkit-box-shadow: 0 0 0px 1000px #000 inset;
    transition: background-color 5000s ease-in-out 0s;


}

    img {
        width: 30px;
        height: 30px;
        margin-left: 25px;
        margin-right: 10px;
    }

    i {
        font-size: 1.5vw;
        color: white;
    }

    input {
        background: black;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px white solid;
        height: 32px;
        width: 200px;
        text-align: center;
        outline: none;
    }

    .go {
        position: absolute;
        background: none;
        border: none;
        transform: translateY(7px)
        translateX(165px);
        outline: none;

        i {
            font-size: 18px;
            transform: translateY(-1px);
        }
    }
}

.account-box {
    display: flex;
    align-content: center;
}

#downArrow {
    transform: translateY(4px);
}

.account-drop-down-menu {
    flex-direction: column;
    justify-content: space-between;
    right: 4vw;
    width: 125px;
    height: 90px;
    background: $main-background; 
    top: 60px;
    position: absolute;
    z-index: 10;
    color: white;
    font-size: 15px;
    display: none;
    &.active {
      display: flex;
      flex-direction: column;
    }

    button {
        display: flex;
        background: none;
        outline: none;
        border: none;
        color: white;
        font-size: 15px;
        letter-spacing: .6px;
        line-height: 4.5vh;
    }
  }

.account-drop-down-list {
  display: flex;
  margin-left: 5px;
  justify-content: flex-start;
}

.column {
    width: 150px;
    overflow: hidden;
}

#notification {
    margin-left: 25px;
}

.notification-drop-down-menu {
    flex-direction: column;
    justify-content: center;
    right: 4vw;
    width: 125px;
    height: 60px;
    background: $main-background; 
    top: 60px;
    line-height: 30px;
    position: absolute;
    z-index: 10;
    color: white;
    display: none;
    font-size: 12px;
    &.active {
      display: flex;
      flex-direction: column;

      #search {
          display: none;
      }
    }
  }

  .notification-drop-down-list {
    display: flex;
    margin-left: 5px;
    justify-content: flex-start;
  }

  .search-input {
    display: none;

    &.active {
        display: flex;
    }
  }

// ::-webkit-input-placeholder {
//     transform: translateY(0px)
//     translateX(5px);
//     font-weight: bold;
// }

