.header2 {
    display: flex;
    flex-direction: column;
    position: fixed;
    background: none;
    width: 100%;
    padding: 20px 50px 20px 50px;
    font-family: $font;
    z-index: 2;

    .search-icon {
        display: flex;
    
        &.unactive {
            display: none;
        }
      }
}

.headerRightSection {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    width: 50%;
    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
    border: 1.5px solid #0D7E80;
    -webkit-text-fill-color: white;
    -webkit-box-shadow: 0 0 0px 1000px #000 inset;
    transition: background-color 5000s ease-in-out 0s;


}

    img {
        width: 30px;
        height: 30px;
        margin-left: 25px;
        margin-right: 10px;
    }

    i {
        font-size: 1.5vw;
        color: white;
    }

    input {
        background: black;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px white solid;
        height: 32px;
        width: 200px;
        text-align: center;
        outline: none;
    }

    .go {
        position: absolute;
        background: none;
        border: none;
        transform: translateY(7px)
        translateX(165px);
        outline: none;

        i {
            font-size: 18px;
            transform: translateY(-1px);
        }
    }
}

.header2top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.header2bottom {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    h1 {
        font-size: 25px;
        font-weight: bold;
    }

    .bottomContent {
        display: flex;
        justify-content: space-between;
        align-items: center;
        transform: translateX(4px);
        width: 200px;
    }

    button  {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100px;
        height: 30px;
        background: black;
        color: white;
        font-weight: bold;
        z-index: 10;
        outline: none;
    
        i {
            font-size: 25px;
            transform: translateY(-5px);
        }
    }
}

.genreDropDownMenu {
    flex-direction: column;
    justify-content: flex-start;
    width: 400px;
    height: 185px;
    left: 100px;
    top: 30px;
    background-color: black;
    position: absolute;
    z-index: 10;
    line-height: 30px;
    color: white;
    font-size: 15px;
    display: none;

    &.active {
      display: flex;
      flex-direction: column;
    }
  }

.drop-down-list {
  display: flex;
  margin-left: 5px;
}

.column {
    width: 150px;
    overflow: hidden;
}

.column3 {
    width: 100px;
}

.search-input {
    display: none;

    &.active {
        display: flex;
    }
  }






