.registerMain {
    width: 100vw;
    height: 100vh;
    background-color: #FFFFFF;
    font-family: "Helvetica Neue";

    img {
        width: 15vw;
        height: 8vh;
    }
}

.registerHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9.5vh;
    border-bottom: 1px solid rgb(222, 218, 218);
    padding: 20px;

    button {
        width: 75px;
        height: 30px;
        background: none;
        border: none;
        font-weight: bold;
        color: black;
        font-size: 16px;
    }
}

.registerField {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2.5vh;

    h2 {
        display: flex;
        justify-content: flex-start;
        width: 450px;
        font-weight: bold;
        font-size: 17px;
        margin-top: 30px;
    }

    button {
        width: 450px;
        height: 50px;
        background: #DC1928;
        border: none;
        color: white;
        font-size: 1.5vw;
        margin-top: 2.5vh;
    }
}

.freeTrial {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 50px;;
    background-color: #0470EC;
    color: white;
    margin-top: 40px;

    p {
        font-weight: bold;
        margin-left: 4px;
    }
}

::-webkit-input-placeholder::after {
    transform: translateY(-17px)
    translateX(5px);
    font-weight: bold;
}

::-webkit-input-placeholder {
    transform: translateY(-17px)
    translateX(5px);
    font-weight: bold;
}